#root {
  max-width: 1280px;
  margin: 0px auto auto auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.card {
  padding: 0.5em 6em;
  background-color:bisque;
  border-radius: 1em;
  margin: 1em;
  display: block;
  
}
#adding{
  display: flexbox;
  
}
#main{
  display: flex;
  flex-direction: column;
  width: 43em;
  padding: 5em;
  background-color: white;
  border-radius: 3em;
}
#root >h1{
  color: white;
}
body{
  background-color: black;
}
#search > h2{
  color: white;
  font-weight: 100;
}
#search{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 37em;
  align-items: center;
  justify-content: space-between;
}

.inputs, .search{
  
  height: 20px;
  margin: 4px;
  border-radius: 5px;
  /* border: none; */
  padding: 10px;
  font-size: 20px;
  border: 1px solid black
}
input:focus{
  border: 1px solid black
  /* border-color: black; */
}
/* .search */


.id{
  font-weight: bold;
}

.read-the-docs {
  color: #888;
}
